/* Document styles */
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* Hyperlink styles */
a {
    background-color: #CCCCCC;
    text-decoration: none;
    color: inherit;
}

/* Heading styles */
h1 {
    font-family: "Times New Roman", Times, serif;
    color: #CCCCCC;
}

/* News class styles */
.news {
    color: red;
    font-style: italic;
}
